{
    "rabbitmq_config": {
        "host": "localhost",
        "port": "5672",
        "queue_name": "",
        "username" : "user",
        "password" : ""
    },
    "senzing_config": {
      "VERBOSE_LOGGING" : false
    }
}


